*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body, html {
    width: 100%;

}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    position: relative;


}

#box1{
    background-color: black;
    left: 50px;
    top: 200px;



}